body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}#name{
    font-size: 50px;
    color: #e60e8f;
}
h1{
    font-size: 30px;
}
p{
    color: gray;
}
.half-width{
    width: 40%;
    float: left;
    margin: 20px solid red ;
}
.half-width img{
    width: 80%;
}
#text-position{
    margin-left: 200px;
    margin-top: 150px;
}
#image-position{
    margin-top: 100px;
}
.top-banner{
    background-image: url(personal-website-images/header-bg.png);
    background-size: cover;
}
section{
    height: 700px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#e454aa , #e60e8f );
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 800;
}
.biography-banner{
    background-image: url("personal-website-images/biography-bg.png");
    background-size: cover;
}
#biography-image{
    margin-left: 200px;
}
#position{
    text-align: center;
}
.latest-work{
    background-image:url("personal-website-images/latest-work-bg.png");
    background-size: cover;
}
.latest-work-position{
    background-repeat: no-repeat;
    background-size:500px; 
}
#pic2{
    margin-left: 40px;
}
